name: github_workflows_nanotekspice

on:
  push:
    branches-ignore:
      - ga-ignore-*
      - mirror
  pull_request:
    branches-ignore:
      - ga-ignore-*

env:
  MIRROR_URL: 'git@github.com:EpitechPGE2-2025/G-OOP-400-REN-4-1-tekspice-6.git'
  EXECUTABLES: 'nanotekspice'

jobs:

  check_compilation:
    container: epitechcontent/epitest-docker:latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: test Make on the project
        run: make;
        timeout-minutes: 2

      - name: test Make clean on the project
        run: make clean;
        timeout-minutes: 2

      - name: check the executables of the program
        run: |
          bash -c 'IFS=, read -r -a executables <<< "$EXECUTABLES"
          for exe in "${executables[@]}"; do
            if [ -f $exe ]; then
              exit 0
            else
              echo "error:: binary not found"
            fi
          done'

  mirror:
    if: github.repository != 'EpitechPGE2-2025/G-OOP-400-REN-4-1-tekspice-6'
    needs: check_compilation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prevent mirroring in the target repository
        run: |
          if [ "$GITHUB_REPOSITORY" = "EpitechPGE2-2025/G-OOP-400-REN-4-1-tekspice-6" ]; then
            echo "This is the mirror repository, skipping mirroring."
            exit 0
          fi

      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}